In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
import itertools as its

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [329]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [330]:
data['profit'] = data.apply(lambda row: row['revenue'] - row['budget'], axis = 1)
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month
Series_of_month = pd.Series(['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь',
                'Октябрь', 'Ноябрь', 'Декабрь'], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [331]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# если ответили верно, можете добавить комментарий со значком "+"

In [332]:
# тут пишем ваш код для решения данного вопроса:
strmaxbudgetfilm = data[data['budget'] == data.budget.max()]
strindex = str(strmaxbudgetfilm.index[0])
strtitle = strmaxbudgetfilm.iloc[0]['original_title']
strid = strmaxbudgetfilm.iloc[0]['imdb_id']
answers['1'] = 'У какого фильма из списка самый большой бюджет? Вариант 5: {}. {} ({})'.format(strindex, strtitle, strid)

ВАРИАНТ 2

In [10]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [333]:
max_runtime = data[data['runtime'] == data.runtime.max()]
strindex = str(max_runtime.index[0])
strtitle = max_runtime.iloc[0]['original_title']
strid = max_runtime.iloc[0]['imdb_id']
answers['2'] = 'Какой из фильмов самый длительный (в минутах)? Вариант 2: {}. {} ({})'.format(strindex, strtitle, strid)

# 3. Какой из фильмов самый короткий (в минутах)?

In [334]:
min_runtime = data[data['runtime'] == data.runtime.min()]
strindex = str(min_runtime.index[0])
strtitle = min_runtime.iloc[0]['original_title']
strid = min_runtime.iloc[0]['imdb_id']
answers['3'] = 'Какой из фильмов самый короткий (в минутах)? Вариант 3: {}. {} ({})'.format(strindex, strtitle, strid)

# 4. Какова средняя длительность фильмов?

In [335]:
answers['4'] = '{}{} минут'.format('Какова средняя длительность фильмов? Вариант 2: ', int(round(data.runtime.mean(), 0)))

# 5. Каково медианное значение длительности фильмов?

In [336]:
answers['5'] = '{}{} минут'.format('Каково медианное значение длительности фильмов? Вариант 1: ', int(data.runtime.median()))

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [337]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit = data[data['profit'] == data.profit.max()]
strindex = str(max_profit.index[0])
strtitle = max_profit.iloc[0]['original_title']
strid = max_profit.iloc[0]['imdb_id']
answers['6'] = 'Какой самый прибыльный фильм? Вариант 5: {}. {} ({})'.format(strindex, strtitle, strid)

# 7. Какой фильм самый убыточный?

In [338]:
min_profit = data[data['profit'] == data.profit.min()]
strindex = str(min_profit.index[0])
strtitle = min_profit.iloc[0]['original_title']
strid = min_runtime.iloc[0]['imdb_id']
answers['7'] = 'Какой фильм самый убыточный? Вариант 5: {}. {} ({})'.format(strindex, strtitle, strid)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [339]:
answers['8'] = '{}{}'.format('У скольких фильмов из датасета объем сборов оказался выше бюджета? Вариант 1: ',
                             data[data['revenue'] > data['budget']].original_title.count())

In [340]:
#Вариант 2 
'{} = {}'.format('Количество прибыльных фильмов', data[data['profit'] > 0].original_title.count())

'Количество прибыльных фильмов = 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [341]:
max_revenue2008 = data.query('release_year == 2008').query('revenue == revenue.max()')
strindex = str(max_revenue2008.index[0])
strtitle = max_revenue2008.iloc[0]['original_title']
strid = max_revenue2008.iloc[0]['imdb_id']
answers['9'] = 'Какой фильм оказался самым кассовым в 2008 году? Вариант 4: {}. {} ({})'.format(strindex, strtitle, strid)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [342]:
min_profit2012 = data.query('2012 <= release_year <= 2014').query('profit == profit.min()')
strindex = str(min_profit2012.index[0])
strtitle = min_profit2012.iloc[0]['original_title']
strid = min_profit2012.iloc[0]['imdb_id']
answers['10'] = 'Самый убыточный фильм за период с 2012 по 2014 г. (включительно)? \
Вариант 5: {}. {} ({})'.format(strindex, strtitle, strid)

# 11. Какого жанра фильмов больше всего?

In [343]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genre_max = Counter(data.genres.str.cat(sep='|').split('|')).most_common(1)
answers['11'] = 'Какого жанра фильмов больше всего? Вариант 3: {}.'.format(genre_max[0][0])

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [344]:
genre_profit = Counter(data[data['profit']> 0].genres.str.cat(sep='|').split('|')).most_common(1)
answers['12'] = 'Фильмы какого жанра чаще всего становятся прибыльными? Вариант 1: {}.'.format(genre_profit[0][0])

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [345]:
data['director1'] = data['director'].apply(lambda x: x.split('|'))
df_dir_rev = data[['director1', 'revenue']].explode('director1')
df_dir_rev_group = df_dir_rev.groupby(['director1'], as_index=False).sum() 
maxdirector = df_dir_rev_group[df_dir_rev_group['revenue'] == df_dir_rev_group['revenue'].max()]
answers['13'] = 'У какого режиссера самые большие суммарные кассовые сборы? \
Вариант 5: {}(revenue = {})'.format(maxdirector.iloc[0]['director1'], maxdirector.iloc[0]['revenue'])

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [346]:
action_dir = data[data['genres'].str.contains('Action')]
max_action_dir = Counter(action_dir.director.str.cat(sep='|').split('|')).most_common(1)
answers['14'] = 'Какой режисер снял больше всего фильмов в стиле Action? \
Вариант 3: {} (Фильмов в жанре = {})'.format(max_action_dir[0][0], max_action_dir[0][1])

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [347]:
data_task = data[data['release_year'] == 2012].copy()
data_task['actors'] = data_task.cast.str.split('|')
data_actors = data_task[['revenue','actors']].explode('actors')
data_group = data_actors.groupby(['actors'], as_index=False).sum() 
actor_max = data_group[data_group['revenue'] == data_group['revenue'].max()]
answers['15'] = 'Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году? \
Вариант 3: {}(revenue = {})'.format(actor_max.iloc[0]['actors'], actor_max.iloc[0]['revenue'])

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [348]:
data_actors = Counter(data[data['budget'] > data['budget'].mean()].cast.str.cat(sep='|').split('|')).most_common(1)
answers['16'] = 'Какой актер снялся в большем количестве высокобюджетных фильмов? \
Вариант 3: {} (Количество фильмов = {})'.format(data_actors[0][0], data_actors[0][1])

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [349]:
genre_cage = Counter(data[data['cast'].str.contains('Nicolas Cage')].genres.str.cat(sep='|').split('|')).most_common(1)
answers['17'] = 'В фильмах какого жанра больше всего снимался Nicolas Cage? \
Вариант 2: {} (Количество жанров = {})'.format(genre_cage[0][0], genre_cage[0][1])

# 18. Самый убыточный фильм от Paramount Pictures

In [350]:
min_profitPP = data[data['production_companies'].str.contains('Paramount Pictures')].query('profit == profit.min()')
answers['18'] = 'Самый убыточный фильм от Paramount Pictures? \
Вариант 1: {}. {} ({})'.format(str(min_profitPP.index[0]), min_profitPP.iloc[0]['original_title'], min_profitPP.iloc[0]['imdb_id'])

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [351]:
task_df = data.groupby('release_year', as_index=False).revenue.sum()
success_year = task_df[task_df['revenue'] == task_df['revenue'].max()]
answers['19'] = 'Какой год стал самым успешным по суммарным кассовым сборам? \
Вариант 5: {}(revenue = {})'.format(success_year.iloc[0]['release_year'], success_year.iloc[0]['revenue'])

# 20. Какой самый прибыльный год для студии Warner Bros?

In [352]:
task_df = data[data['production_companies'].str.contains('Warner Bros')].groupby('release_year', as_index=False).profit.sum()
success_yearWB = task_df[task_df['profit'] == task_df['profit'].max()]
answers['20'] = 'Какой самый прибыльный год для студии Warner Bros? \
Вариант 1: {}(profit = {})'.format(success_yearWB.iloc[0]['release_year'], success_yearWB.iloc[0]['profit'])

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [353]:
#df_month = data[['imdb_id', 'original_title', 'release_date']].copy()
#df_month['month'] = data.release_date.dt.month
df_month_count = data.month.value_counts(ascending=False)
answers['21'] = 'В каком месяце за все годы суммарно вышло больше всего фильмов? \
Вариант 4: {}(Количество фильмов = {})'.format(Series_of_month[df_month_count.index[0]], df_month_count.iloc[0])

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [354]:
count_film = data.month[(data.month == 6) | (data.month == 7) | (data.month == 8)].count()
answers['22'] = 'Сколько суммарно вышло фильмов летом? (за июнь, июль, август) \
Вариант 2: {}'.format(count_film)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [355]:
data_tmp = data[data.release_date.dt.month.isin([1, 2, 12,])]
film_of_season = Counter(data_tmp.director.str.cat(sep='|').split('|')).most_common(10)
answers['23'] = 'Для какого режиссера зима – самое продуктивное время года? \
Вариант 5: {}. Количество фильмов = {}'.format(film_of_season[0][0], film_of_season[0][1])

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [356]:
df_studio = data[['production_companies', 'original_title']].copy()
df_studio['companies'] = df_studio.production_companies.str.split('|')
df_studio['count_studio'] = 1
df_studio['len_title'] = df_studio['original_title'].apply(lambda x: len(x))
df_studio_exp = df_studio[['companies', 'len_title', 'count_studio']].explode('companies')
df_studio_group = df_studio_exp.groupby('companies', as_index=False)['len_title', 'count_studio'].sum()
df_studio_group['mean_title'] = df_studio_group.apply(lambda row: row['len_title'] / row['count_studio'], axis = 1)
studio = df_studio_group.sort_values(by = 'mean_title', ascending=False)
answers['24'] = 'Какая студия дает самые длинные названия своим фильмам по количеству символов? \
Вариант 5: {}. Количество символов = {}'.format(studio.iloc[0][0], studio.iloc[0][1])

D:\Progs\Anaconda\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [357]:
films = pd.Series(data['production_companies'].str.cat(sep='|').split('|')
                         ).value_counts(ascending=False)
companies = films.copy()-films
df_studio = data[['production_companies', 'original_title', 'overview']].copy()
df_studio['overview_words_length'] = df_studio.overview.map(lambda x: len(x.split(' ')))
for company in films.index:
    films[company] = df_studio['overview_words_length'][df_studio['production_companies'].map(lambda x: True if company in x else False)].mean()
films = pd.DataFrame(films).sort_values(0, ascending=False)
answers['25'] = 'Описание фильмов какой студии в среднем самые длинные по количеству слов? \
Вариант 3: {}. Количество слов = {}'.format(films.index[0], films.iloc[0][0])

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [358]:
films = data[data['vote_average'] >data['vote_average'].quantile(.99)].sort_values(by = 'vote_average', ascending=False)
answers['26'] = 'Какие фильмы входят в 1 процент лучших по рейтингу? \
Вариант 1: {}, {}, {}'.format(films.iloc[1][3], films.iloc[0][3], films.iloc[12][3])

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [359]:
new_list = []
for i in data.cast:
    new_list = new_list + list(its.combinations(i.split('|'), 2))
list_2 = pd.Series(new_list)
actors = list_2.value_counts()
answers['27'] = 'Какие актеры чаще всего снимаются в одном фильме вместе? \
Вариант 5: {}, {}. Количество съемок = {}'.format(actors.index[0][0], actors.index[0][1], actors[0])

ВАРИАНТ 2

# Submission

In [360]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'У какого фильма из списка самый большой бюджет? Вариант 5: 723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Какой из фильмов самый длительный (в минутах)? Вариант 2: 1157. Gods and Generals (tt0279111)',
 '3': 'Какой из фильмов самый короткий (в минутах)? Вариант 3: 768. Winnie the Pooh (tt1449283)',
 '4': 'Какова средняя длительность фильмов? Вариант 2: 110 минут',
 '5': 'Каково медианное значение длительности фильмов? Вариант 1: 107 минут',
 '6': 'Какой самый прибыльный фильм? Вариант 5: 239. Avatar (tt0499549)',
 '7': 'Какой фильм самый убыточный? Вариант 5: 1245. The Lone Ranger (tt1449283)',
 '8': 'У скольких фильмов из датасета объем сборов оказался выше бюджета? Вариант 1: 1478',
 '9': 'Какой фильм оказался самым кассовым в 2008 году? Вариант 4: 599. The Dark Knight (tt0468569)',
 '10': 'Самый убыточный фильм за период с 2012 по 2014 г. (включительно)? Вариант 5: 1245. The Lone Ranger (tt1210819)',
 '11': 'Какого жанра фильмов больше всего? Вариант 3: Drama.',
 '12': 'Фильмы какого жанра чаще всего становятся прибыльными? Вариант 1: Drama.',
 '13': 'У какого режиссера самые большие суммарные кассовые сборы? Вариант 5: Peter Jackson(revenue = 6490593685)',
 '14': 'Какой режисер снял больше всего фильмов в стиле Action? Вариант 3: Robert Rodriguez (Фильмов в жанре = 9)',
 '15': 'Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году? Вариант 3: Chris Hemsworth(revenue = 2027450773)',
 '16': 'Какой актер снялся в большем количестве высокобюджетных фильмов? Вариант 3: Matt Damon (Количество фильмов = 18)',
 '17': 'В фильмах какого жанра больше всего снимался Nicolas Cage? Вариант 2: Action (Количество жанров = 17)',
 '18': 'Самый убыточный фильм от Paramount Pictures? Вариант 1: 925. K-19: The Widowmaker (tt0267626)',
 '19': 'Какой год стал самым успешным по суммарным кассовым сборам? Вариант 5: 2015(revenue = 25449202382)',
 '20': 'Какой самый прибыльный год для студии Warner Bros? Вариант 1: 2014(profit = 2295464519)',
 '21': 'В каком месяце за все годы суммарно вышло больше всего фильмов? Вариант 4: Сентябрь(Количество фильмов = 227)',
 '22': 'Сколько суммарно вышло фильмов летом? (за июнь, июль, август) Вариант 2: 450',
 '23': 'Для какого режиссера зима – самое продуктивное время года? Вариант 5: Peter Jackson. Количество фильмов = 7',
 '24': 'Какая студия дает самые длинные названия своим фильмам по количеству символов? Вариант 5: Four By Two Productions. Количество символов = 83',
 '25': 'Описание фильмов какой студии в среднем самые длинные по количеству слов? Вариант 3: Midnight Picture Show. Количество слов = 175',
 '26': 'Какие фильмы входят в 1 процент лучших по рейтингу? Вариант 1: Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Какие актеры чаще всего снимаются в одном фильме вместе? Вариант 5: Daniel Radcliffe, Rupert Grint. Количество съемок = 8'}

In [361]:
# и убедиться что ни чего не пропустил)
len(answers)

27